.main__modal{
     background-color: white;
     width: 500px;
     padding: 40px;
     border-radius: 20px;
     position: relative;
     h2,p{
          color: black;
     }
     h2{
          font-size: 35px;
     }
     p{
          font-size: 20px;
     }
}

body{
     background-color: gray;
}


.main__modal-body{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.main__modal-footer{
     margin-top: 50px;
     display: flex;
     //justify-content: space-between;
     justify-content: center;
     gap: 30px;
     button{
          padding: 15px 60px;
          background-color: inherit;
          color: rgb(132, 37, 132);
          border: 1px solid black;
     }
     button:first-child{
          background-color: rgb(132, 37, 132);
          color: white;
     }
}

.main__modal-close-button{
     position: absolute;
     top: 10px;
     right: 20px;
     font-size: 30px;
     color: black;
     background-color: inherit;
     border: 0cm;
     padding: 0px;
}

.main__modal-image{
     margin-top:20px;
     margin-bottom: 50px;
     width: 70%;
     height: 150px;
     background-color: rgba(125, 121, 121, 0.2);
}

.main__modal-wrapper{
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}